body {    
   font-family: Helvetica;  
   margin: 0px; /*needs to be zero for no white space*/
   height: 100%;
   width: 100%; /* width needed for Firefox */
   background: url('../img/neutral.jpg');
   background-repeat: repeat;

}

/*.transbox {
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); 
}*/

/*.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}*/

.image {
	text-align: center;
	margin-top: 30px;
}